*.pyc
*.igc
.*.swp

# Do not ignore anything in testfiles
!testfiles/*
.igc_lib-env/bin/fio
venv_igclib/
.vscode/settings.json
.vscode/launch.json
.vs/
igc_lib.pyproj
ludovic.launer@igc-flight-analysis-3541fffb79cd.json
.idea/
